<div class="container mx-auto mt-20">
  <app-header></app-header>

  <div class="mt-12 md:flex">
    <app-form
      [name]="patient.name"
      [property]="patient.property"
      [email]="patient.email"
      [date]="patient.date"
      [symptoms]="patient.symptoms"
      [id]="patient.id"
      (savePatient)="savePatient()"
      (updateName)="onChangeName($event)"
      (updateProperty)="onChangeProperty($event)"
      (updateEmail)="onChangeEmail($event)"
      (updateDate)="onChangeDate($event)"
      (updateSymptoms)="onChangeSymptoms($event)"
    ></app-form>

    <div class="md:w-1/2">
      <h2 class="font-black text-2xl text-center">
        Administra tus pacientes
      </h2>

      <p class="text-lg mt-5 text-center">
        Información de <span class="text-violet-600 font-bold">Pacientes</span>
      </p>

      <div *ngIf="patients.length > 0">
        <app-patient
          *ngFor="let patient of patients"
          [patient]="patient"
          (updatePatient)="updatePatient(patient.id!)"
          (deletePatient)="deletePatient(patient.id!)"
        ></app-patient>
      </div>

      <div *ngIf="patients.length === 0">
        <p class="mt-10 text-2xl text-center pb-10">
          No hay <span class="text-violet-600 font-bold">Pacientes</span>
        </p>
      </div>
    </div>
  </div>
</div>

